@import '~vue-evolve/src/assets/scss/main';
@import 'settings';
@import 'colors';

:root {
  --yellow: #ecaf20;
  --blue: #18336a;
  --dark-gray: #575757;
  --font-family: 'Hind', sans-serif;
}

hr {
  height: 0;
  margin: 0;
  border-bottom: 1px solid var(--color-light-gray);
}

ol,
ul {
  margin-left: 20px;
}

// links

a,
a:visited,
a:active {
  font-family: var(--font-family-primary);
  border-bottom: solid 1px var(--color-link);
  color: var(--color-link);

  &:hover {
    color: var(--color-link-hover);
    border-bottom: solid 1px var(--color-link-hover);
  }

  i {
    color: var(--color-icons);
  }

  &.plain {
    border-bottom: none;
  }
}

blockquote {
  font-style: italic;
  background-image: linear-gradient(180deg, var(--color-light-gray), var(--color-light-gray));
  background-size: 100% 11px;
  background-position: bottom;
  background-repeat: no-repeat;
  width: fit-content;
  @extend .like-h2;
  font-size: var(--font-size-10) !important;
  padding: 0 var(--space-4);

  p {
    @extend .like-h2;
    font-size: var(--font-size-10) !important;
  }
}

code {
  background: var(--color-light-gray);
  padding: var(--space-3);
  font-size: var(--font-size-4);
  border-radius: 8px;
}

.clickable {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

// buttons

.button:not(.input-group-button .button) {
  letter-spacing: 0.5px;
  height: var(--forms-input-height);
  padding-top: 8px !important;
}

// icons

i {
  font-size: var(--font-size-10);
}

.icon {
  height: 45px;
  width: 45px;
  padding: 10px;
  border-radius: 50%;
  background: var(--color-primary-lighter);

  svg {
    fill: var(--color-primary);
  }
}

.icon-link {
  border-bottom: none;

  &:hover {
    border-bottom: none;
  }

  i {
    font-size: 22px;
  }
}

.icon-only,
.icon-only:active:hover,
.icon-only:hover {
  padding-bottom: 0;
  border-bottom: none;
}

.fa-exclamation-circle {
  font-size: var(--font-size-5);
  color: var(--color-tertiary);
  margin-left: var(--space-1);
}

// table styles

table {
  font-family: var(--font-family-primary);
  text-align: left;

  th div {
    transform: rotate(-60deg);
  }

  th,
  td {
    padding: var(--space-3);
    border-bottom: 1px solid var(--color-light-gray);

    &.category {
      text-align: left;
      font-weight: bold;
    }
  }

  tr {
    vertical-align: top;
  }
}

// layout transitions

.layout-enter-active,
.layout-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

.layout-enter,
.layout-leave-to {
  opacity: 0;
}

.spacer {
  padding-top: 100px;
}

.padding {
  padding: 50px;
}

.image-fill {
  img {
    object-fit: cover;
    height: 100%;
    width: fit-content;
  }
}

.fancy-card {
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: var(--yellow);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--blue);
    transform: skewY(-5deg);
  }

  .content {
    position: relative;
    z-index: 10;
    padding: 100px;

    @media all and (max-width: 1000px) {
      padding: 30px;
    }
  }

  a,
  a:visited,
  a:active {
    color: white;

    &:hover {
      color: white;
    }
  }
}

.fancy-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  a {
    border-bottom: none;
    padding-bottom: 0;
  }

  div {
    flex: 25%;
  }

  img {
    transition: all linear 250ms;
    width: 100%;
    height: auto;
  }

  .fancy-card-content {
    transition: all linear 250ms;
    padding: 20px;
    text-align: center;
  }

  div:hover {
    .fancy-card-content,
    img {
      text-decoration: none;
      opacity: 0.8;
    }
  }

  @media all and (max-width: 1000px) {
    div {
      flex: 50%;
    }
  }
  @media all and (max-width: 600px) {
    div {
      flex: 100%;
    }
  }
}

.grid {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  @media all and (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

// content card

.content-card-content {
  padding: 0 var(--space-6);
}
